*,*:after,*:before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: Arial, serif;
    font-size: 16px;
    margin: 0;
    background: lemonchiffon;
    color: #000;
}
.form-container{
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    background: #09aad0;
}
.input-row{
    margin-bottom: 10px;
}
.input-row label{
    display: block;
    margin-bottom: 3px;
}
.input-row input,
.input-row textarea{
    width: 100%;
    padding: 10px;
    border: 0;
    border-radius: 3px;
    outline: 0;
    margin-bottom: 3px;
    font-size: 18px;
    font-family: Arial,serif;
}
h1{
    text-align: center;
}
.btn-container{
    text-align: center;
}
.own-button{
    text-align: center;
    width: 75%;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 5px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
}
.own-button:hover{
    background: rgb(53, 167, 110);
}
.own-button:active{
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
}
em{
    color: red;
}
.password_label{
    position: relative;
}
.password_img{
    position: absolute;
    cursor: pointer;
    right: 15px;
    top: 35px;

}
.password_img::after{
    position: absolute;
    content: "";
    top: 11px;
    right: 0;
    width: 26px;
    height: 3px;

    background: #222222;
    transform: rotate(45deg);
    transition: .3s all ease;
    opacity: 1;
}
.password_img.active::after{
    opacity: 0;
}
.eye{
    width: 26px;
    height: 26px;
}


